<html> <head> <title>RCTOffline Data Quality Monitoring Page</title></head><body> 
<h1 style="color:purple; text-align:center;">Extra DQM GCT Plots - FROM EMULATION<br />  </h1>
<p> General Information:  <a href="index.html">back</a>   </p>

<a href="NonIsoEmRankEtaPhi_EMU.png"><img src="NonIsoEmRankEtaPhi_EMU.png" width="250"></a>
<a href="IsoEmRankEtaPhi_EMU.png"><img src="IsoEmRankEtaPhi_EMU.png" width="250"></a>
<a href="NonIsoEmOccEtaPhi_EMU.png"><img src="NonIsoEmOccEtaPhi_EMU.png" width="250"></a>
<a href="IsoEmOccEtaPhi_EMU.png"><img src="IsoEmOccEtaPhi_EMU.png" width="250"></a>
<a href="IsoEmRank_EMU.png"><img src="IsoEmRank_EMU.png" width="250"></a>
<a href="NonIsoEmRank_EMU.png"><img src="NonIsoEmRank_EMU.png" width="250"></a>
<a href="AllEmOccRankBx_EMU.png"><img src="AllEmOccRankBx_EMU.png" width="250"></a>
<a href="CenJetsRank_EMU.png"><img src="CenJetsRank_EMU.png" width="250"></a>
<a href="CenJetsEtEtaPhi_EMU.png"><img src="CenJetsEtEtaPhi_EMU.png" width="250"></a>
<a href="CenJetsOccEtaPhi_EMU.png"><img src="CenJetsOccEtaPhi_EMU.png" width="250"></a>



</body></html>
