<html> <head> <title>RCTOffline Data Quality Monitoring Page</title></head><body> 
<h1 style="color:purple; text-align:center;">Extra DQM Comparison Plots<br />  </h1>

<a href="dqmDetails.html"> Data </a> <a href="dqmDetails.html"> MC </a>

<br>

<a href="RctRegionRank_COMPARISON.png" ><img src="RctRegionRank_COMPARISON.png" width="250"></a>
<a href="RctRegionRank_zoom_COMPARISON.png" ><img src="RctRegionRank_zoom_COMPARISON.png" width="250"></a>
<a href="RctEmIsoEmRank_COMPARISON.png"><img src="RctEmIsoEmRank_COMPARISON.png" width="250"></a>
<a href="RctEmNonIsoEmRank_COMPARISON.png"><img src="RctEmNonIsoEmRank_COMPARISON.png" width="250"></a>

<a href="RctRegionsOccEtaPhi_COMPARISON.png" ><img src="RctRegionsOccEtaPhi_COMPARISON.png" width="250"></a>
<a href="RctEmIsoEmOccEtaPhi_COMPARISON.png"><img src="RctEmIsoEmOccEtaPhi_COMPARISON.png" width="250"></a>
<a href="RctEmNonIsoEmOccEtaPhi_COMPARISON.png"><img src="RctEmNonIsoEmOccEtaPhi_COMPARISON.png" width="250"></a>

<a href="RctRegionsEtEtaPhi_COMPARISON.png" ><img src="RctRegionsEtEtaPhi_COMPARISON.png" width="250"></a>
<a href="RctEmIsoEmEtEtaPhi_COMPARISON.png"><img src="RctEmIsoEmEtEtaPhi_COMPARISON.png" width="250"></a>
<a href="RctEmNonIsoEmEtEtaPhi_COMPARISON.png"><img src="RctEmNonIsoEmEtEtaPhi_COMPARISON.png" width="250"></a>

<a href="RctBitHfPlusTauEtaPhi_COMPARISON.png"><img src="RctBitHfPlusTauEtaPhi_COMPARISON.png" width="250"></a>
<a href="RctBitTauVetoEtaPhi_COMPARISON.png"><img src="RctBitTauVetoEtaPhi_COMPARISON.png" width="250"></a>
<a href="RctBitMipEtaPhi_COMPARISON.png"><img src="RctBitMipEtaPhi_COMPARISON.png" width="250"></a>
<a href="RctBitOverFlowEtaPhi_COMPARISON.png"><img src="RctBitOverFlowEtaPhi_COMPARISON.png" width="250"></a>
<a href="RctBitQuietEtaPhi_COMPARISON.png"><img src="RctBitQuietEtaPhi_COMPARISON.png" width="250"></a>

</body></html>
