<html> <head> <title>RCTOffline Data Quality Monitoring Page</title></head><body> 
<h1 style="color:purple; text-align:center;">RCTOffline DQM Plots  - from MP7  <br />  </h1>
<p> General Information:  <a href="dqmDetails.html">details</a>   </p>

<a href="RctRegionsEtEtaPhi.png" ><img src="RctRegionsEtEtaPhi.png" width="250"></a>
<a href="RctEmIsoEmEtEtaPhi.png"><img src="RctEmIsoEmEtEtaPhi.png" width="250"></a>
<a href="RctEmNonIsoEmEtEtaPhi.png"><img src="RctEmNonIsoEmEtEtaPhi.png" width="250"></a>
<a href="RctBitHfPlusTauEtaPhi.png"><img src="RctBitHfPlusTauEtaPhi.png" width="250"></a>

</body></html>
